<html>
  <head>
    <title>Demeter - make it green</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <script type=text/javascript src="{{
    url_for('static', filename='jquery-1.9.0.js') }}"></script>
      <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  </head>
  <body>
    <h1>Demeter - make it green</h1>
    <h3><img src="{{ url_for('video_feed') }}" width="90%"></h3>
    <hr>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
if (!!window.EventSource) {
  var source = new EventSource('/feed');
  source.onmessage = function(e) {
	  console.log(e.data);
	  var regex = "none";
	  if (!((e.data).match(regex))){

	 	$("#data").text(e.data);
	  }
	   
  }
}
</script>
<div id="data"></div>
<h1>Set environment parameters</h1>


<script type=text/javascript>
    $(function() {
      $('a#set_temp').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/_temp', {
          temp: $('input[name="temp"]').val(),
          hum: $('input[name="hum"]').val()
        }, function(data) {
          $("#env_settings_input").text(data.result);
        });
        return false;
      });
    });
  </script>
  <h2>Set temperature settings</h2>
  <p><input type=text min=15 max=32 size=2 name=temp>
     <input type=text min=15 max=32 size=2 name=hum>
     <span id=env_settings_input></span>
  <p><a href=# id=set_temp>Set parameters</a>



<script type=text/javascript>
    $(function() {
      $('a#set_light').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/_light', {
          start: $('input[name="start"]').val(),
          stop: $('input[name="stop"]').val()
        }, function(data) {
          $("#light_settings_input").text(data.result);
        });
        return false;
      });
    });
  </script>
  <h2>Set light settings</h2>
  <p><input type=number  min=1 max=2 size=10  name=start>
     <input type=number min=1 max=2 size=10 name=stop>
     <span id=light_settings_input></span>
  <p><a href=# id=set_light>Set parameters</a>

  </body>
</html>
